/// Hides the text in an element, commonly used to show an image. Some elements will need block-level styles applied.
/// Reference: http://zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement
///
/// @group Add-ons
///
/// @example scss - Usage
///   .logo {
///     @include hide-text;
///   }
///
/// @example css - CSS Output
///   .logo {
///     text-indent: 101%;
///     overflow: hidden;
///     white-space: nowrap;
///   }
///
/// @todo Remove height argument in Bourbon v5.0.0

@mixin hide-text($height: null) {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;

  @if $height {
    @warn "The `hide-text` mixin has changed and no longer requires a height. The height argument will not be accepted in Bourbon v5.0.0";
  }
}
